<article class="post">
  <div class="title">
    <a>{{title}}</a>
  </div>
  <div class="main_text">
    <span>{{main_text}}</span>
  </div>
  <div class="meta">
    Created by {{user.username}} on {{created_at}}
    
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>
